  <div fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="40%" fxFlexFill>
      <mat-card class="card">

        <mat-card-title>
          <button mat-fab color="primary" (click)="back()">
            <mat-icon>arrow_back</mat-icon>
          </button>

          Usuario
        </mat-card-title>

        <mat-card-content>

          <form class="example-form" [formGroup]="form" (ngSubmit)="save()">
            <div fxLayout="row" fxLayoutAlign="center start">
              <div fxFlex="100%" fxFlexFill>
                <mat-form-field  appearance="outline" class="full-width">
                  <mat-label> Nombre </mat-label>
                  <input type="text" name="name" formControlName="name" matInput placeholder="">
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center start">
              <div fxFlex="100%" fxFlexFill>
                <mat-form-field  appearance="outline" class="full-width">
                  <mat-label>Correo</mat-label>
                  <input type="email" name="email" formControlName="email" matInput placeholder="">
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center start">
              <div fxFlex="100%" fxFlexFill>
                <mat-form-field  appearance="outline" class="full-width">
                  <mat-label>Contraseña</mat-label>
                  <input type="password" name="password" formControlName="password" matInput placeholder="">
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center start">
              <div fxFlex="100%" fxFlexFill>
                <mat-form-field  appearance="outline" class="full-width">
                  <mat-label>Repetir contraseña</mat-label>
                  <input type="password" name="password_confirmation" formControlName="password_confirmation" matInput placeholder="">
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
              <div fxFlex="100%" fxFlexFill>
                <mat-form-field  appearance="outline" class="full-width">
                  <mat-label>Token de Gitlab</mat-label>
                  <input type="text" name="token" formControlName="token" matInput placeholder="">
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start none">
              <div fxFlex="100%" fxFlexFill>
                <button type="submit" mat-flat-button color="primary">Guardar</button>
              </div>
            </div>

          </form>

        </mat-card-content>

      </mat-card>

    </div>

  </div>
